<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900 text-white">
    <div class="w-full min-h-screen p-10">
        <a class="text-blue-500 hover:underline" href="/">Back To Home</a>
        
        <h1 class="text-3xl tracking-tighter mb-5 mt-3">All Users</h1>
        
        <div class="users flex flex-wrap gap-5">
            <% users.forEach(function(user) { %>
                <div class="user w-72 p-4 bg-zinc-800 rounded-lg shadow-lg transition hover:shadow-xl">
                    <div class="w-full h-72 bg-zinc-500 rounded-lg overflow-hidden">
                        <img class="w-full h-full object-cover object-center" src="<%= user.image %>" alt="User Image">
                    </div>
                    
                    <h3 class="text-xl tracking-tight mt-3 truncate" title="<%= user.username %>">
                        <%= user.username %>
                    </h3>
                    
                    <h5 class="text-zinc-500 truncate" title="<%= user.email %>">
                        <%= user.email %>
                    </h5>
                    
                    <div class="flex gap-3 mt-6">
                        <a class="text-blue-400 hover:underline" href="/edit/<%= user._id %>">Edit User</a>
                        <a class="text-red-500 hover:underline" href="/delete/<%= user._id %>">Delete User</a>
                    </div>
                </div>
            <% }) %> 
        </div>
    </div>
</body>
</html>
